## Imports

Import any additional libraries you may need here.

In [1]:
import glob
import pandas as pd
from datetime import datetime
import requests

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

In [3]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json'
file = 'bank_market_cap_1.json'
r = requests.get(url)
with open(file, 'wb') as f:
    f.write(r.content)

In [4]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json'
file = 'bank_market_cap_2.json'
r = requests.get(url)
with open(file, 'wb') as f:
    f.write(r.content)

In [5]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv'
file = 'exchange_rates.csv'
r = requests.get(url)
with open(file, 'wb') as f:
    f.write(r.content)

## Extract

### JSON Extract Function

In [6]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

In [7]:
columns=['Name','Market Cap (US$ Billion)']

In [8]:
def extract():
    dataframe = pd.DataFrame(columns=columns)
    dataframe = dataframe._append(extract_from_json('bank_market_cap_1.json'), ignore_index=True)
    return dataframe

In [17]:
# Write your code here
df_exchange_rate = pd.read_csv('exchange_rates.csv', index_col=0)
exchange_rate = df_exchange_rate.loc['GBP']['Rates']
exchange_rate

0.7323984208000001

## Transform

In [18]:
def transform(data, exchange_rate):
    data['Market Cap (US$ Billion)'] = round(data['Market Cap (US$ Billion)']*exchange_rate, 3)
    data.rename(columns={'Market Cap (US$ Billion)':'Market Cap (GBP$ Billion)'}, inplace=True)
    return data

In [19]:
def load(dataframe):
    dataframe.to_csv('bank_market_cap_gbp.csv', index=False)

## Logging Function

In [20]:
def log(message):
    timestamp_format = '%Y-%m-%d-%H:%M:%S'
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open('logfile.txt', 'a') as f:
        f.write(f'{timestamp},{message}\n')

## Running the ETL Process

In [ ]:
# Write your code here
log('ETL Job Started')
log('Extract phase Started')

### Extract

In [21]:
# Call the function here
df = extract()
# Print the rows here
df.head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [22]:
# Write your code here
log('Extract phase Ended')

### Transform

In [23]:
# Write your code here
log('Transform phase Started')

In [24]:
# Call the function here
df = transform(df, exchange_rate)
# Print the first 5 rows here
df.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [25]:
# Write your code here
log('Transform phase Ended')

### Load

In [26]:
# Write your code here
log('Load phase Started')

In [27]:
# Write your code here
load(df)

In [28]:
# Write your code here
log('Load phase Ended')

In [30]:
log('ETL Job Ended')