## Imports

Import any additional libraries you may need here.

In [1]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

## Extract Data Using Web Scraping

In [6]:
#Write your code here
url = 'https://web.archive.org/web/20200318083015/https://en.wikipedia.org/wiki/List_of_largest_banks'
html_data = requests.get(url).content

In [7]:
html_data[760:783]

b'- End Wayback Rewrite J'

### Scraping the Data

Using BeautifulSoup parse the contents of the webpage.

In [16]:
#Replace the dots below
soup= BeautifulSoup(html_data, 'html5lib')

In [67]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for i,row in enumerate(soup.find_all('tbody')[3].find_all('tr')):
    if i == 0: continue
    cols = row.find_all('td')
    name = cols[1].find_all(a)[3].string
    cap = float(cols[2].string)
    data = data._append({'Name':name, 'Market Cap (US$ Billion)':cap}, ignore_index=True)

In [68]:
#Write your code here
data.head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399


### Loading the Data

In [69]:
#Write your code here
data.to_json('bank_market_cap.json')